
<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <button type="button" mat-icon-button (click)="onclickMenu()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
<div routerLink="dashboard">Moon</div>
<span class="nav-tool-items" style="margin-left: auto;">
  <a mat-button (click)="onLoggedout()">Salir de cuenta</a>
</span>
</mat-toolbar>
<app-sidebar></app-sidebar>
<div class="main-container height">
  <router-outlet></router-outlet>
</div>
<div class="" data-toggle="tooltip" data-placement="left" title="¡Pide ayuda!">
  <a href="https://api.whatsapp.com/send?phone=+528124658645&text=Hola. Tengo una duda con la aplicación." target="_blank">
    <img class="circle" src="whatsapp.png" alt="¡Pide ayuda!">
  </a>
</div>
